
@{
    ViewBag.Title = "Calculmental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("Index","Home")">Accueil</a></li>
                <li>Calcul Mental</li>
            </ol>
            <div class="animated fadeInRightBig">
                <h2>Calcul Mental</h2>
            </div>
           

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/Content/Images/download (1).jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="#">Academie de Calcul Mental</a>
                        </h2>
                        <div class="entry-content">
                            <p>
                                ACADEMIE DE CALCUL MENTAL est une académie spécialisée dans le développement cérébral et l’amélioration des compétences cognitives chez l’enfant basée au Maroc depuis 2011, est compte 29 centres à travers le territoire mondial dont un centre spécialisé dans la Formation du corps professoral, Une pédagogie parfaite qui allie entre le sens de l’écoute et l’attention envers les enfants de 5 à 16 ans.
                            </p>

                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/Content/Images/kids-learning-numbers-912875442.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">CALCUL MENTAL EN ICHBILIA : </a>
                        </h2>
                        <div class="entry-content">
                            <p>
                                Le programme CLS se compose de trois ans, la première année a trois niveaux et les deuxième et troisième niveaux ont deux niveaux
                            </p>
                            CLS souhaite la bienvenu au public dont l'age est entre 5 et 15 ans .

                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/Content/Images/index17.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">COMPETITION DE CALCUL MENTAL :</a>
                        </h2>

                        <div class="entry-content">
                            <p>
                                ClS organise un petit concours pour les participants de cette branche, les meilleurs étudiants qui participeront au concours national.
                                Ce jeu est destiné à toutes les personnes de tous niveaux et vise à former les esprits à louer plus rapidement. Le système d'inscription met la pression et travaille pour faire de votre mieux.
                                Cependant, gagner n'est pas le but, donc vous ne devriez pas avoir peur de jouer en disant "Oh, je vais perdre ça de honte!" Il faut jouer en disant "Après ce match, je vais aller mieux, je pense plus vite" et un peu les performances ne peuvent que s'améliorer. Ne vous comparez pas aux autres avant de vous comparer!
                            </p>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <video width="700" height="400" controls style=" margin-left:2% ;">
                                <source src="~/Content/Images/ClS/WhatsApp Video 2020-04-12 at 15.53.59.mp4" type="video/mp4">
                                <source src="~/Content/Images/ClS/WhatsApp Video 2020-04-12 at 15.53.59.ogg" type="video/ogg">
                            </video>
                        </div>

                        <h2 class="entry-title">
                            <a href="blog-single.html">INFORMATIONS :</a>
                        </h2>


                        <div class="entry-content">
                            <p>
                                *Pack des livres à : 1000 DH <br><br>
                                *Paiment par mois : 300 DH <br><br>
                            </p>

                        </div>

                    </article><!-- End blog entry -->
</div>
                </div>
            </div>
        </section>





</main><!-- End #main -->
