
@{
    ViewBag.Title = "Cuisine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="@Url.Action("Index","Home")">Accueil</a></li>
                <li>Cuisine</li>
            </ol>
            <h2>Cuisine</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-lg-4 box">
                    <h3>gâteau</h3>
                    <img src="~/Content/Images/CLS/WhatsApp Image 2020-04-12 at 15.55.19.jpeg" height="320" />
                </div>

                <div class="col-lg-4 box featured">
                    <h3>Info Cuisine</h3>

                    <ul>
                        <li><i class="bx bx-check"></i>Le programme Cuisine d’établissement s’adresse aux personnes autonomes et créatives plus de 16 ans ,hommes et femmes . </li><br />
                        <li><i class="bx bx-check"></i>un chef cuisinier certifié constitue une ressource rare et précieuse pour les cuisines des grands restaurants, des hôtels ou des navires </li><br />
                        <li><i class="bx bx-check"></i>les étudiants apprendront entre autres à apprêter les aliments, à choisir les techniques de cuisson appropriées, à organiser et gérer une cuisine et à concevoir des menus particuliers.</li><br />
                        <li><i class="bx bx-check"></i>Il représente une excellente façon d’acquérir des compétences permettant l’accès à une carrière stimulante et prometteuse. En effe</li><br />
                        <li><i class="bx bx-check"></i>CLS organise des competitions et des stages pour les participants</li>
                     
                        <li><i class="bx bx-check"></i>Paiment par mois : 300 DH</li>
                    
                    </ul>

                </div>

                <div class="col-lg-4 box">
                    <h3>Saltes</h3>
                    <img src="~/Content/Images/CLS/Saltes.jpeg" height="300" />
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

</main><!-- End #main -->
