@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('../../Content/Images/81563609_107569064108645_6737195475574718464_o.jpg'); width: 100%;
                    height: 70vh; background-size: cover;background-position: center;background-repeat: no-repeat; background-position: center center;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">Bien<span>Venu</span></h2>
                            <p class="animated fadeInUp">Centre de langues et de formation Ichbilia.</p>

                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url('../../Content/Images/langues.png'); width: 100%; height: 70vh; background-size: cover; background-position: center; background-repeat: no-repeat; background-position: center center;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">Lan<span>Gues</span></h2>
                            <p class="animated fadeInUp">CLS vous offre la formation linguistique parfaite ,Français, anglais et allemande .</p>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url('../../Content/Images/boulier-calculs.jpg'); width: 100%; height: 70vh; background-size: cover; background-position: center; background-repeat: no-repeat; background-position: center center;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">Calcul <span>Mental</span></h2>
                            <p class="animated fadeInUp">
                                Pour vos enfants, frères, notre génération, CLS vous propose la meilleure formation avec le meilleur
                                Les coachs et les meilleures stratégies.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Slide 4 -->
                <div class="carousel-item" style="background-image: url('../../Content/Images/201804051522943626_5ac6468a49f1a_watermark_800_800.jpg'); width: 100%; height: 70vh; background-size: cover; background-position: center; background-repeat: no-repeat; background-position: center center;">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animated fadeInDown">Cui<span>Sine</span></h2>
                            <p class="animated fadeInUp">Pour les amateurs de cuisine, les ateliers CLS vous donnent la chance de faire les desserts les plus délicieux.</p>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                <div class="col-lg-4">
                    <div class="icon-box">
                        <i class="icofont-education"></i>
                        <h3><a href="">Langues</a></h3>
                        <p>Apprentissage et maitrisé des langues pour tous.   </p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="icofont-brainstorming"></i>
                        <h3><a href="">Calcul Mental</a></h3>
                        <p>Entrainement de la matière grise par le calcul mental pour la résolution facile des problématiques</p>
                    </div>
                </div>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="icofont-chef"></i>
                        <h3><a href="">Cuisine</a></h3>
                        <p>Formation et Apprentissage  en pâtisseries Marocaine et Moderne</p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Featured Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
         
                <div class="col-lg-6">

                    <img src="~/Content/Images/CLS/WhatsApp Image 2020-04-12 at 15.54.34.jpeg" class="img-fluid" alt="" height="120" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">

                        <h3 style="color:#1A237E ;" class="animated bounce infinite">
                            <p class="font-italic" style=" margin-top:20% ;">
                            
                                    Bienvenue à Meilleures formations
                             
                            </p>
                    </h3>


                    <br />
                    <ul style=" margin-top:10% ;">
                        <li><i class="icofont-check-circled"></i>Développer votre langage a trois langue français, Anglais, Allemand.</li>
                        <br />
                        <li><i class="icofont-check-circled"></i> Développez les capacités mentales de votre enfant.</li>
                        <br />
                        <li><i class="icofont-check-circled"></i>Propose des formations à la confiserie.</li>
                        <br />
                    </ul>
                    <p style=" margin-top:7% ;">
                        C'est un nouveau centre de langue et de formation, qui vous permet
                        de développer vos compétences, vos perceptions et vos talents.Afin de garantir à nos clients une acquisition
                        optimisée des compétences linguistiques et communicatives et dans le but d’assurer des prestations de qualité, le centre met à votre disposition un environnement et des outils d’enseignement à la pointe de la technologie : TVs, Vidéoprojecteurs, Tableaux Blancs interactifs, Ressources Audio et Vidéo…
                    </p>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Photos Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2 style="color:#1A237E ;">Photos</h2>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">

                        <div><img src="~/Content/Images/CLS/WhatsApp Image 2020-04-12 at 15.54.36.jpeg" height="100%" width="100%" /></div>
                    </div>

                </div>


                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div>
                            <img src="~/Content/Images/CLS/WhatsApp Image 2020-04-12 at 15.55.15.jpeg" height="150%" width="100%" />

                        </div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div><img src="~/Content/Images/ClS/New Project (3).png" height="150%" width="100%" /></div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div><img src="~/Content/Images/ClS/WhatsApp Image 2020-04-12 at 15.54.33.jpeg" height="150%" width="100%" /></div>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div><img src="~/Content/Images/WhatsApp Image 2020-04-11 at 02.36.34.jpeg" height="150%" width="100%" /></div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                    <div class="icon-box">
                        <div><img src="~/Content/Images/ClS/WhatsApp Image 2020-04-12 at 15.54.35.jpeg" height="150%" width="100%" /></div>
                    </div>
                </div>

            </div>
        </div>
      
    </section><!-- End photos Section -->



</main><!-- End #main -->