
@{
    ViewBag.Title = "Langues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="@Url.Action("Index","Home")">Accueil</a></li>
            <li>Langues</li>
        </ol>
        <h2>Langues</h2>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Testimonials Section ======= -->
<main id="main">
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="section-title">
                <h2>Langues : </h2>
                <p>
                    La maîtrise des langues étrangères et l’esprit d’ouverture à l’international font partie des éléments majeurs d’une insertion professionnelle réussie. Se former rapidement à une langue étrangère est de ce fait devenu une nécessité incontournable.
                    CLS est votre meilleur atout pour atteindre cet objectif. Notre centre de langues vous propose des cours dans la majorité des langues européennes et orientales : Anglais, Français,  Allemand.
                </p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="testimonial-item">
                        <img src="~/Content/Images/hqdefault (1).jpg" class="testimonial-img" alt="" height="100">
                        <h3>Anglais</h3>

                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            * il existe deux niveaux:
                            Un pour les adultes entre 16ans ou plus : une classe à deux niveaux .
                            Et pour les enfants entre 5ans et 15ans : une classe à deux niveaux.
                            Vous devez réussir le test pour déterminer votre niveau.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4 mt-lg-0">
                        <img src="~/Content/Images/unnamed (2).jpg" class="testimonial-img" alt="" height="100">
                        <h3>Francais</h3>

                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            * il existe deux niveaux:
                            Un pour les adultes entre 16ans ou plus : une classe à troix niveaux .
                            Et pour les enfants entre 5ans et 15ans : une classe à troix niveaux.
                            Vous devez réussir le test pour déterminer votre niveau.   <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="testimonial-item mt-4">
                        <img src="~/Content/Images/Fotolia_94609813_M.jpg" class="testimonial-img" alt="">
                        <h3>Allemand</h3>
                        * il existe un seul niveaux:
                        pour les adultes entre 16ans ou plus : une classe à un seul niveaux .

                        Vous devez réussir le test pour déterminer votre niveau.
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="col-lg-6">

                    <img src="~/Content/Images/telechargement_1.jpg" class="testimonial-img" alt="" height="400" width="500">


                </div>


            </div>

        </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span>Par mois :</span>
                        <p><strong> : </strong> 250 DH </p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span>Trimestre :</span>
                        <p><strong> : </strong> 700 DH </p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-money"></i>
                        <span>Frais d'inscription : </span>
                        <p><strong> : </strong> 100 DH </p>

                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Counts Section -->
</main>


